footer{
  box-sizing: flex-box;
  background: #F2E205;
  color: #FAFAFF;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  height: auto;
  width: 100vw;
  padding-top: 40px;
}
.Footer-Content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.Footer-Content h3{
  font-family: 'Viga', sans-serif;
  font-size: 8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.Footer-Content p{
  font-family: 'Viga', sans-serif;
  max-width: 500px;
  margin: 60px auto;
  line-height: 28px;
  font-size: 2em;
}
.Footer-Copyright p{
  text-align: center;
  font-size: 1.2em;
  padding-bottom: 10px;
}
footer .Socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
footer .Socials li a{
  text-decoration: none;
  color: #FAFAFF;
  font-size: 2em;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
footer .Socials li a:hover{
  transform: translateY(-15px);
}
