.header{

	background: #F2E205;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	

}
li, a{

	text-decoration: none;
	display: inline;
	list-style-type: none;
  	padding: 0.5rem;
  	font-weight: 600;
  	color: #FAFAFF;
  	font-size: 24px;
  	font-family: 'IBM Plex Sans Condensed', sans-serif;

}
.LogoLP{

	max-width: 5rem;
}