.header{

	background: #F2E205;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;


}
li, a{

	text-decoration: none;
	display: inline;
	list-style-type: none;
  	padding: 0.5rem;
  	font-weight: 600;
  	color: #FAFAFF;
  	font-size: 24px;
  	font-family: 'IBM Plex Sans Condensed', sans-serif;

}
.LogoLP{

	max-width: 5rem;
}
header .Socials{
	margin: 0;
	list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .Socials li a{
  text-decoration: none;
  color: #FAFAFF;
  font-size: 2em;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
header .Socials li a:hover{
  transform: translateY(-15px);
}
