body{
	
	font-family: 'IBM Plex Sans Condensed', sans-serif;
	background: #FAFAFF;
}
h1{
	
	font-family: 'Viga', sans-serif;
	font-size: 9rem;
	font-weight: 900;
	color: #F2E205;

}
h3{

	font-family: 'Viga', sans-serif;
	font-size: 2rem;
	color: #FAFAFF;
}
p{

	font-family: 'IBM Plex Sans Condensed', sans-serif;
	font-size: 32px;
	font-weight: 500;
	color: #FAFAFF;
}
main{

	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 200px;
	background-image: url("../ASSETS/aeroporto.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	
}
.Sobre{

	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 70px;
	background: #121317;
}
.Sobre h2{

	font-family: 'Viga', sans-serif;
	font-size: 4rem;
	color: #F2E205;
	margin: 4px;
}
.gallery{

	width: calc(100% - 100px);
	padding-bottom: 20px;
	text-align: center;
	padding: 0 50px;
  	
  	
}
.gallery h2{

	margin-bottom: 36px;
	font-family: 'Viga', sans-serif;
	font-size: 4rem;
	color: #F2E205;
	margin: 4px;
}
.images {

	width: 34%;
	height: 400px;
	padding: 30px;
	transition: 0.7s all ease-in-out;
}
.images:hover{

	transform: scale(1.2);
}
footer{

	text-align: center;
	padding: 10px;
}
@media only screen and (min-width: 951px) and (max-width: 1350px){
	.images{

		height: 300px;
		padding: 20px;
	}

}
@media screen and (max-width : 950px){

	.gallery{
    width: 100%;
    padding: 0;
  }
  
  .images{
   
    padding: 0;
    width: 100%;
  }
  .images:hover{
    transform: scale(1);
  }
}